body {
    background-color: #F8F9FA;
    background-image: url("img/fondo.jpg");
    background-repeat:  repeat-x;
    background-size: cover;
  }
  .logo{
    width: 6.25rem;
    margin-top: 0;
  }
  #barnav {
    width: 100%;
    height: 5%; /* Cambia la altura según tus necesidades */
    background-color: #FF5A5F;
  }
  .impre{
    max-width: 100%;
    height: auto;
  }
  
  .barra {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center;
    list-style: none;
  }
  
  .barra li {
    display: inline;
    font-size: 2rem;
    color: #FFFFFF;
    margin: 25px;
    align-items: center;
    list-style: none;
  }
  
  .busqueda {
    margin-left: auto; /* Mueve el elemento a la derecha */
  }
.busca{
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: #00A19D;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}  
.eli{
    width: 80%;
    border-radius: 50%;
}
p{
    font-size: 2rem;
}
.nosotros{
  text-align: center;
}