*{
    margin: 0;
    padding: 0;
}


div{
    width: 300px;

}
#caja1{
    height: 300px;
    background-color: red;
    position: fixed;
    left: 300px;
    top: 300px;

}
#caja2{
    height: 300px;
    background-color: blue;
    position: relative;
    left: 600px;
}
#caja3{
    height: 300px;
    background-color: green;
}